# Postgres
POSTGRES_DB=nutri_tracker
POSTGRES_USER=nutri
POSTGRES_PASSWORD=nutri
POSTGRES_PORT=5432

# API
API_HOST=0.0.0.0
API_PORT=8000
DATABASE_URL=postgresql+psycopg://nutri:nutri@localhost:5432/nutri_tracker
OPENFOODFACTS_BASE_URL=https://world.openfoodfacts.org/api/v2
OCR_LANG=eng+spa

# Mobile
EXPO_PUBLIC_API_BASE_URL=http://localhost:8000
